if SHIELD_cracker_R

config ZMK_KEYBOARD_NAME
    default "cracker_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

config PAW3222
    default y

endif

if SHIELD_cracker_L

config ZMK_KEYBOARD_NAME
    default "cracker_L"

config ZMK_SPLIT
    default y

endif
